xmlschema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="lsystem">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="productions">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="production" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="rule" use="optional"/>
                      <xs:attribute type="xs:float" name="chance" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="iterations"/>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="axiom"/>
        <xs:element type="xs:float" name="angle"/>
        <xs:element name="branch">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:float" name="length"/>
              <xs:element type="xs:float" name="thickness"/>
              <xs:element type="xs:byte" name="approximation"/>
              <xs:element type="xs:byte" name="hermitesteps"/>
              <xs:element type="xs:float" name="hermitetangent"/>
              <xs:element type="xs:float" name="decreasefactor"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="image"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="leaf">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:float" name="size"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="image"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
